In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_excel('disposition.xlsx')
df1 = df1.iloc[:,:18]

In [3]:
df1.head()

,Campaign,Lead,Agent ID,Agent Name,Sip,Prefix,Phone Number,DID Number,Call Type,Start Time,End Time,Call Handling Time,Talk Time,Wrapup Duration,Disposition,Sub Disposition,Remarks,Review
0,MSMEDIAAUS,WA_Mob_50K_3,User2 (000),Priyansh,60517,NaN,61419198790,61480034346,OB,15-May-20 14:27:19,15-May-20 14:27:47,00:00:28,00:00:19,00:00:09,NO ANSWER,NO SUBDISPOSITION,NaN,CALL
1,MSMEDIAAUS,WA_Mob_50K_3,User2 (000),Priyansh,60517,NaN,61427904898,61480034346,OB,15-May-20 14:25:35,15-May-20 14:26:59,00:01:24,00:00:26,00:00:58,NO ACCIDENT,NO SUBDISPOSITION,NaN,CALL
2,MSMEDIAAUS,WA_Mob_50K_3,User2 (000),Priyansh,60517,NaN,61428444025,61480034347,OB,15-May-20 14:24:43,15-May-20 14:25:02,00:00:19,00:00:19,00:00:00,HANGUP,NO SUBDISPOSITION,NaN,CALL
3,MSMEDIAAUS,WA_Mob_50K_3,User2 (000),Priyansh,60517,NaN,61409086353,61480034347,OB,15-May-20 14:22:04,15-May-20 14:22:50,00:00:46,00:00:46,00:00:00,NO ACCIDENT,NO SUBDISPOSITION,NaN,CALL
4,MSMEDIAAUS,WA_Mob_50K_3,User2 (000),Priyansh,60517,NaN,61417976999,61480034346,OB,15-May-20 14:21:27,15-May-20 14:21:51,00:00:24,00:00:13,00:00:11,HANGUP,NO SUBDISPOSITION,NaN,CALL

In [4]:
df1['Agent ID'] = df1['Agent ID'].str.split("(", expand=True)[0]

df1['Phone Number']= df1['Phone Number'].astype(str)
df1['Phone Number']= df1['Phone Number'].str.replace(" ()","")
df1['Phone Number'] = df1['Phone Number'].str.slice(2,11)

df1['DID Number']= df1['DID Number'].astype(str)
df1['DID Number']= df1['DID Number'].str.replace(" ()","")
df1['DID Number'] = df1['DID Number'].str.slice(2,11)

df1['Start Time']= pd.to_datetime(df1['Start Time'])
df1['End Time']= pd.to_datetime(df1['End Time'])

cht = []
for i in df1['Call Handling Time']:
    try:
        i = str(i)
        i = i.replace(":", "")
        h = i[:2]
        m = i[2:4]
        s = i[4:]
        h = int(h)
        m = int(m)
        s = int(s)
        min = (h*3600)+(m*60)+(s*1)
#        min = round(min,3)
        cht.append(min)
    except:
        cht.append(0)

df1['Call Handling Time'] = cht

tt = []
for i in df1['Talk Time']:
    try:
        i = str(i)
        i = i.replace(":", "")
        h = i[:2]
        m = i[2:4]
        s = i[4:]
        h = int(h)
        m = int(m)
        s = int(s)
        min = (h*3600)+(m*60)+(s*1)
#        min = round(min,3)
        tt.append(min)
    except:
        tt.append(0)

df1['Talk Time'] = tt

wd = []
for i in df1['Wrapup Duration']:
    try:
        i = str(i)
        i = i.replace(":", "")
        h = i[:2]
        m = i[2:4]
        s = i[4:]
        h = int(h)
        m = int(m)
        s = int(s)
        min = (h*3600)+(m*60)+(s*1)
#        min = round(min,3)
        wd.append(min)
    except:
        wd.append(0)

df1['Wrapup Duration'] = wd

df1.columns = df1.columns.str.replace(' ', '')
df1.rename(columns={'PhoneNumber': 'DialedNumber', 'Lead':'LeadID','Sip':'SIP','Disposition':'AgentDisposition' }
           ,inplace = True)


k = []

for i in df1['CallHandlingTime']:
    if i <=30:
        k.append('Worst')
    elif i > 30 and i <=60:
         k.append('Poor')
    elif i > 60 and i <=180:
         k.append('Fair')
    elif i > 180 and i <=300:
         k.append('Good')
    else:
        k.append('Excellent')
        
df1['CallQuality'] = k

df1["AgentID"]= df1["AgentID"].str.replace('user', "User ", case= False)
df1.drop('Prefix', axis=1, inplace=True)

In [5]:
df1.head()

,Campaign,LeadID,AgentID,AgentName,SIP,DialedNumber,DIDNumber,CallType,StartTime,EndTime,CallHandlingTime,TalkTime,WrapupDuration,AgentDisposition,SubDisposition,Remarks,Review,CallQuality
0,MSMEDIAAUS,WA_Mob_50K_3,User 2,Priyansh,60517,419198790,480034346,OB,2020-05-15 14:27:19,2020-05-15 14:27:47,28,19,9,NO ANSWER,NO SUBDISPOSITION,NaN,CALL,Worst
1,MSMEDIAAUS,WA_Mob_50K_3,User 2,Priyansh,60517,427904898,480034346,OB,2020-05-15 14:25:35,2020-05-15 14:26:59,84,26,58,NO ACCIDENT,NO SUBDISPOSITION,NaN,CALL,Fair
2,MSMEDIAAUS,WA_Mob_50K_3,User 2,Priyansh,60517,428444025,480034347,OB,2020-05-15 14:24:43,2020-05-15 14:25:02,19,19,0,HANGUP,NO SUBDISPOSITION,NaN,CALL,Worst
3,MSMEDIAAUS,WA_Mob_50K_3,User 2,Priyansh,60517,409086353,480034347,OB,2020-05-15 14:22:04,2020-05-15 14:22:50,46,46,0,NO ACCIDENT,NO SUBDISPOSITION,NaN,CALL,Poor
4,MSMEDIAAUS,WA_Mob_50K_3,User 2,Priyansh,60517,417976999,480034346,OB,2020-05-15 14:21:27,2020-05-15 14:21:51,24,13,11,HANGUP,NO SUBDISPOSITION,NaN,CALL,Worst

In [6]:
df= df1.loc[:,['AgentName', 'CallType','CallHandlingTime','TalkTime', 'WrapupDuration', 'AgentDisposition','CallQuality']]

In [7]:
df.head()

,AgentName,CallType,CallHandlingTime,TalkTime,WrapupDuration,AgentDisposition,CallQuality
0,Priyansh,OB,28,19,9,NO ANSWER,Worst
1,Priyansh,OB,84,26,58,NO ACCIDENT,Fair
2,Priyansh,OB,19,19,0,HANGUP,Worst
3,Priyansh,OB,46,46,0,NO ACCIDENT,Poor
4,Priyansh,OB,24,13,11,HANGUP,Worst

In [8]:
table = pd.pivot_table(df, values=[ 'TalkTime','WrapupDuration'], index=['AgentName'], aggfunc='mean')

In [9]:
table

                   TalkTime  WrapupDuration
AgentName
Anisha Yadav      37.102273        9.369318
Priyansh          25.363636       34.636364
Saurabh Nautiyal  24.500000       28.968254

In [10]:
df['AgentName'].value_counts()

Anisha Yadav        176
Saurabh Nautiyal    126
Priyansh             55
Name: AgentName, dtype: int64